@import "src/index";

.profile{

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: $color-orange-17;

  .profile-content {
    display: flex;
    flex-grow: 1;
    flex-direction: row;

    .profile-data-section{
      display: flex;
      flex-direction: column;
      width: 50%;
    }

    .profile-video-section{
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      width: 50%;

      .profile-video-container{
        position: relative;
        padding: $standard-spacing $standard-spacing 0 $standard-spacing;
        box-sizing: border-box;
        width: 100%;
        height: 28.15vw;
        min-height: $min-width*0.2815;

        .profile-video-pretext{
          display: flex;
          position: absolute;
          top:$standard-spacing;
          left:$standard-spacing;
          right: $standard-spacing;
          bottom: 0;
          margin:0;
          padding: $standard-spacing;
          align-items: center;
          justify-content: center;
          text-align: center;
          z-index: 1;
          font-size: 3.5rem;
          color: $color-orange;
          background: $color-dark;
        }

        .profile-video{
          width: 100%;
          height: 100%;
          box-sizing: content-box;
        }
      }
      .profile-video-loader{
        position: absolute;
        top: 4vw;
        height:20vw;
        width:20vw;
        z-index: 5;
      }
      .profile-video-input{
        margin-top: $standard-spacing;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}