@import "src/index";

.header {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  height: $quintuple-standard-spacing;
  background-color: $color-orange;

  ul {
    display: flex;
    list-style-type:none;
    margin: 0 $standard-spacing 0 0;
  }

  a {
    display: block;
    min-width: $standard-spacing;
    height: $quintuple-standard-spacing;
    line-height: $quintuple-standard-spacing;
    text-align: center;
    padding: 0 $standard-spacing;
    font-size: 1.25rem;

    &:hover {
      text-decoration-line: underline;
    }

    &.bell-icon-link{
    }
  }

  .homeLink {
    font-size: 3rem;
    margin-right: auto;
  }
}

.dropdown-content {
  display: none;
  background-color: $color-orange;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown menu on hover */
.profile-option{
  display: flex;
  flex-direction: column;

  &:hover .dropdown-content {
    display: flex;

    .logout-option{
      min-width: $standard-spacing;
      height: $quintuple-standard-spacing;
      line-height: $quintuple-standard-spacing;
      text-align: center;
      padding: 0 $standard-spacing;
      margin: 0;
      font-size: 1.25rem;
      font-weight: normal;

      &:hover {
        text-decoration-line: underline;
      }
    }
  }
}