@import "src/index";

.sign-in {
  display:flex;
  flex-grow: 1;

  h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: $color-orange;
    margin-left: $octuple-standard-spacing;
    margin-right: $octuple-standard-spacing;
  }

  .sign-in-1{
    display: flex;
    background-color: $color-orange-17;
    padding: $double-standard-spacing 0;
    width: 100%;

    .sign-in-form{
      margin: 0 auto;
      max-width: 40% ;
    }
  }
}