@import "src/index";

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  background-color: $color-orange;
  font-size: 1.125rem;
  font-weight: 400;
  font-family: sans-serif;
  height: $septuple-standard-spacing;
  padding: $triple-standard-spacing 0;
}

.footer-content {
  text-align: justify;
  white-space: pre;
}