@import "src/index";

.profile-header{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  min-height: 25vh;

  .cover-image {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding: $standard-spacing $standard-spacing 0 $standard-spacing;
    width: 100%;
    box-sizing: border-box;
    height:180px;
    object-fit: cover;
  }

  .cover-add-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top:$standard-spacing;
    left:$standard-spacing;
    right:$standard-spacing;
    bottom:$standard-spacing;
    box-sizing: border-box;
    height:180px - $standard-spacing;
    padding: $standard-spacing;

    &.full-cover{
      background-color: $color-dark;
    }

    .cover-add-icon{
      color: $color-orange;
      border-style: solid;
      border-width: 1px;
      border-right-width: 0;
      padding: $half-standard-spacing 0 $half-standard-spacing $half-standard-spacing;
      background: $color-dark;
    }

    .cover-add-text{
      display: flex;
      padding: $half-standard-spacing;
      margin: 0;
      border-style: solid;
      border-width: 1px;
      border-left-width: 0;
      font-size: 1rem;
      line-height: 1rem;
      color: $color-orange;
      background: $color-dark;
    }
  }

  .cover-image-input{
    opacity: 0;
    position: absolute;
    height:180px;
    width: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }

  .profile-image-container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 65px;
    background-color: white;
    margin: $double-standard-spacing 0 $standard-spacing 0;
    overflow: hidden;

    .profile-image{
      width: 120px;
      height: 120px;
      border-radius: 60px;
    }

    .profile-image-input{
      opacity: 0;
      position: absolute;
      width: 130px;
      height:130px;
      border-radius: 65px;
      top:0;
      bottom:0;
      left:0;
      right:0;
    }
  }

  .profile-action-area{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    padding: $standard-spacing;
  }

  .profile-header-title{
    color: $color-dark;
    margin: 0 auto;
  }

  .connect{

    .icon{
      color: #008800;
      margin: 0 $half-standard-spacing;
    }
  }
}