@import "src/index";

.sign-up {

  h2 {
    font-weight: 300;
    color: $color-orange;
    margin-left: $octuple-standard-spacing;
    margin-right: $octuple-standard-spacing;
  }

  .sign-up-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-dark;
    overflow: hidden;

    .sign-up-1-title{
      text-align: center;
      animation: scroll-up 1s linear infinite;
      animation-iteration-count: 1
    }
  }

  .sign-up-2{
    display: flex;
    background-color: $color-orange-17;

    .sign-up-form{
      margin: 0 auto;
      max-width: 40% ;
    }
  }
}