/* Colors */
$color-orange: #ff6700;
$color-orange-17: #ff670017;
$color-dark: #343a41;
$linkedin-blue: #0e76a8;

/* Dimensions */
$standard-spacing: 16px;
$double-standard-spacing: 2*$standard-spacing;
$triple-standard-spacing: 2*$standard-spacing;
$quadruple-standard-spacing: 4*$standard-spacing;
$quintuple-standard-spacing: 5*$standard-spacing;
$sextuple-standard-spacing: 6*$standard-spacing;
$septuple-standard-spacing: 7*$standard-spacing;
$octuple-standard-spacing: 8*$standard-spacing;
$n11-standard-spacing: 11*$standard-spacing;

body{
  min-width: 62*$standard-spacing;
}
a {
  color: white;
  text-decoration-line: none;
}

h1 {
  color: white;
  font-size: 4rem;
}

h2 {
  color: white;
  font-size: 3rem;
}

h4 {
  color: white;
  font-size: 1.25rem;
}

p {
  color: white;
  font-size: 1.125rem;
}